<h1>Cart</h1>

<table border='1' width='100%'>
  <% current_order.line_items.each do |line_item| %>
    <tr>
      <td>
        <%= image_tag line_item.product.display_image.attachment(:small) %>
      </td>
      <td><%= link_to line_item.name, line_item.product %></td>
      <td><%= line_item.variant.options_text %></td>
      <td><%= line_item.quantity %></td>
      <td><%= line_item.money %></td>
    </tr>
  <% end %>
</table>

<%# FIXME: Link to first step of checkout %>
<%= link_to 'Checkout', checkout_address_path %>
